<div class="card highlight" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!iscollapsed">


  <div class="row">
    <div class="col-lg-2">
      <img class="" src="http://via.placeholder.com/150x150"  title="Armor appearance"/>
    </div>

    <div class="col-lg-3">

      <div class="card-body">
        <div class="card-title">
          <p><b>Armor:</b> {{ armorSet.name | titlecase }}</p>
        </div>
        <div class="card-text">
          <b>Defense:</b> {{armorSet.defense}}

        </div>
      </div>

    </div>

    <div class="col-lg-3">

      <div class="card-body">
        <div class="card-title">
          <b>Slots:</b> {{ armorSet.slots }}
        </div>

        <div class="card-text">
          <b>Skills: </b>
          <span *ngFor="let skill of armorSet.skills">{{ skill | titlecase }}</span>
        </div>
      </div>

    </div>

    <div class="col-lg-3">

      <div class="card-body">
        <div class="card-title" >
          <table style=" ">
            <tr>
              <td *ngFor="let ele of [0, 1,2,3,4]">
                <img src="http://via.placeholder.com/20x20" />
              </td>
            </tr>

            <tr>
              <td *ngFor="let ele of armorSet.elements" >
                <span> {{ ele }} </span>
              </td>
            </tr>
          </table>
        </div>

        <div class="card-text" style="">
        </div>
      </div>

    </div>

  </div> <!-- end row div -->

  <!--expands inside contents when clicked  -->
  <div class="" [ngbCollapse]="!isCollapsed">
    <hr />

    <div class="">
      <div class="card-body">
        dslkafjsldkfjas dfjakl fdalkdf alkfd
      </div>
    </div>

  </div>

</div>
